// ==============================
// Custom style
// 自定义样式
// ==============================

/* 首页资料卡 */
.home[posts] .home-profile {
    padding-top: 0;
}

.home-profile {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: .2em;
    background: white;
	opacity: .9;
}
[theme=dark] .home-profile {
    background: #3a3535;
	opacity: .9;
}

/* 首页文章摘要 */
.home[data-home=posts] .summary,.home[posts] .summary {
	margin-bottom: .1rem;
    margin-left: -1rem;
    margin-right: -1rem;
	padding-left: 1rem;
	padding-right: 1rem;
    background: white;
	opacity: .9;
}
[theme=dark] .home[data-home=posts] .summary,[theme=dark] .home[posts] .summary {
    background: #3a3535;
}

/* 首页的分页页码 */
.pagination {
    margin-top: .1rem;
    margin-bottom: 0;
    margin-left: -1rem;
    margin-right: 1rem;
	padding: 1rem 2rem .5rem 0;
    background: white;
	opacity: .9;
}
[theme=dark] .pagination {
    background: #3a3535;
}

/* 归档、标签、分类、特殊页面 */
.page.archive, .page.single, .page.single.special {
	padding-left: 1rem;
	padding-right: 1rem;
    padding-bottom: 1rem;
    background: white;
	opacity: .95;
}
[theme=dark] .page.archive,
[theme=dark] .page.single,
[theme=dark] .page.single.special {
    background: #3a3535;
}

.archive-item-date2 {
    color: #a9a9b3;
}

[theme=dark] .archive .archive-item-date {
    color: #a9a9b3;
}

.page.single.special .single-title.animated.pulse.faster {
    padding-right: 1rem;
}

.archive .card-item-title a sup {
    color: #a9a9b3;
	font-weight: initial;
}

.archive .group-title sup {
    color: #a9a9b3;
	font-weight: initial;
}

.archive .single-title.animated.pulse.faster sup {
	margin-left: .4rem;
    color: #a9a9b3;
	font-weight: initial;
}

[theme=dark] .archive .tag-cloud-tags a sup {
    color: #a9a9b3;
}

/* 分类页面 */
.archive .categories-card {
    margin-top: 1rem;

    & .card-item {
        margin-top: 1rem;
    }
}

/* 文章脚部 */
.page.single .post-footer {
    margin-top: 0;
    margin-bottom: 2rem;
}

/* 页面脚部 */
.footer {
    display: block;
	border-top-width: 3px;
    border-top-style: solid;
    position: relative;
    max-width: 800px;
    width: 60%;
    margin: .1rem auto 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
    padding-bottom: 3em;
    background: white;
	opacity: .9;
}
[theme=dark] .footer {
    background: #3a3535;
}

@media only screen and (max-width: 1440px) {
    .footer {
        width:54.5%;
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        width:50.5%;
    }
}

@media only screen and (max-width: 960px) {
    .footer {
        width: 77%;
    }
}

/* 目录 */
.toc {
    background: white;
	opacity: .9;
}
[theme=dark] .toc {
    background: #3a3535;
}
[theme=dark] #toc-auto {
    border-left-color: #6f6a6a;
}
